.profile-container {
    max-width: 400px;
    margin: 2rem auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 15px rgba(0,0,0,0.1);
}

.profile-container h1 {
    color: #000;
    text-align: center;
}

.form-section {
    margin-top: 20px;
}

input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box; /* So that width includes padding */
}

button {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #45a049;
}

.message {
    color: #3672ff;
    text-align: center;
    margin-top: 10px;
}
